* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --gray: #e7e7e7;
    --red: #da610b;
    --green: #1c850b;
    --light-green: #169a01;
    --wight-green: #edfdeb;
    --light-gray: #f6f7f8;
    --dark-gray: #d5d9dc;
    --darker-gray: #9b9b9b;
}

body {
    background-color: var(--dark-gray);
}
.nav-bar {
    background-color: var(--light-gray);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a:hover {
    cursor: pointer;
}

a:link {
    text-decoration: none;
  }
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search{
    width: 40%;
    position: relative;
}

.search input{
    width: 100%;
    padding: 0.5rem 0.5rem 0.5rem 2.5rem;
    background-color: var(--gray);
    border-radius: 20px;
    outline: 0;
    border: 0;
}

.logo-name {
    color: #000;
    font-family: cursive;
    margin-top: 1px;
    font-weight: bold;
}
.logo-name span {
    color: var(--red);
}
.user {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;
 }

.user .user-img {
    margin-right: 0.4rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.user .logout-img {
    margin: 0.4rem;
    width: 30px;
    height: 35px;
    border-radius: 20px;
}
.user .logout-img:hover {
    cursor: pointer;
}

/*--------------- mobile screen ----------------------*/

@media (max-width: 600px) {
    .nav-bar {
        height: 50px;
    }
    .logo-img {
        width: 30px;
        height: 30px;
        margin: 0.4rem;
    }
    .search {
        display: none;
    }
    .user .user-img {
        width: 30px;
        height: 30px;
    }
    .user {
        margin-right: 1rem;
    }
}

/*-----------------------------------------*/

@media (min-width: 600px) {
    .nav-bar {
        height: 80px;
    }
    .logo-img {
        width: 50px;
        height: 50px;
        margin: 0.6rem;
    }
}
 
/*----------------- main section --------------*/


.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-post {
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    background-color: var(--light-gray);
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    border-radius: 4px;
}
.new-post textarea {
    border-radius: 10px;
    margin-right: 3px;
    padding: 4px;
}
.new-post .btn {
    width: 60px;
    height: 30px;
    background-color: gray;
    color: white;
    border: none;
    border-radius: 10px;
}
.new-post img{
    width:40px;
    height: 40px;
    border-radius: 50%;
}
.new-post .btn:hover{
    cursor: pointer;
}
h5 {
    margin-top: 1rem;
    margin-bottom: 5px;
}
.sec2 {
    margin-top: 1.2rem;
    width: 65%
}

.sec2-2 {
    width:30%;
}

.posts-people {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.posts {
    height: fit-content;
    width: 60%;
}
.posts h3 {
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
}
.pst {
    background-color: var(--light-gray);
    border: solid var(--darker-gray);
    border-width: 1px;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 0.6rem;
}

.pst .header {
    margin-left: 0.4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.pst .header p{
    margin-left: 0.4rem;
    font-size: 18px;
    font-weight: bold;
}
.pst .header p text{
    margin-left: 0.2rem;
    color: var(--darker-gray);
    font-size: 12px;
}
.pst .header img {
    width: 30px;
    border-radius: 50%;
}

.pst .content {
    margin-top: 0.9rem;
    display: flex;
    flex-direction: column;
}
.pst .content .desc-post {
    margin-left: 0.4rem;
    font-size: 22px;
}
.pst .content img{
    margin-top: 0.6rem;
    width:100%;
    max-height: 700px;
}
.pst .reaction {
    height: 32px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 12px;
}
.pst .reaction a{
    box-sizing:content-box var(--light-gray);
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    padding-right: 0.4rem;
    padding-left: 0.4rem;
}
.pst .reaction a:hover{
    background-color: var(--gray);

}
.people {
    background-color: var(--light-gray);
    height: fit-content;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    border: solid 1px var(--darker-gray);
    border-radius: 7px;
}

.people .bb {
    margin-top: 1.5rem;
    width:110px;
    border-radius: 20px;
    border: none;
    background-color: var(--green);
    color: white;
    cursor: pointer;
    align-self: center;
}

.people .bb:hover {
    background-color: var(--light-green);
}
.people .btns{
    margin: 0.9rem;
    display: flex;
    justify-content: space-between;
}
.people .btns button {
    width:60px;
    border-radius: 20px;
    border: none;
    background-color: var(--gray);
    color: var(--green);
    cursor: pointer;
    font-size: 14px;
}
.people .btns button:hover {
    background-color: var(--light-gray);
}
.community {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100px;
    width: 100%;
    border:0px;
    border-radius: 7px 7px 0 0;
    color: white;
    padding: 0.4rem;
    background-image: linear-gradient(to top, rgba(8, 8, 4, 0.212), rgba(8, 8, 8, 0.126)),
     url('../images/sea.jpg');
     background-repeat: no-repeat;
     background-size: cover;
}

.contry {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0.4rem;
}

.contry img{
    width:32px;
    height: 32px;
    border-radius: 50%;
}
.contry button {
    width: 50px;
    border-radius: 20px;
    border: none;
    background-color: var(--green);
    color: white;
    cursor: pointer;
}

.contry button:hover{
    background-color: var(--light-green);
}
.c-r {
    margin-top: 0.6rem;
    font-size: 12px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #737778;
}
