* {
    padding: 0px;
    margin: 0px;
}
.nav-bar {
    background-color: #0477b4;
     display: flex;
    align-items: center;
   justify-content: space-between;
}

@media (max-width: 600px) {
    .nav-bar {
        height: 50px;
    }
    .logo {
        width: auto;
        padding: 0.1rem;
    }
    .logo-img {
        margin: 0.6rem;
        width: 30px;
        height: 30px;
    }
}

/*-----------------------------------------*/

@media (min-width: 600px) {
    .nav-bar {
        height: 80px;
    }
    .logo {
        width: auto;
    }
    .logo-img {
        margin-top: 0.7rem;
        width: 50px;
        height: 50px;
        padding: 0.6rem;
    }
}
